.one{
    background-color: #dfaa40;
    padding: 20px;
    border-radius: 5px;
}
.one h1{
    color: rgb(219, 21, 21);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.one p{
    color: rgb(72, 63, 63);
    font-size: larger;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.one h2{
    color: rgb(29, 21, 21);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home-image{
    display: block;
    margin: 16px auto;
    max-width: 50%;
    height: auto;
    border-radius: 50px;
}
    